.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .parallax-img-wrapper {
  width: 41%;
  height: 540px;
  padding-left: 100px;
}

.about .parallax-img {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 85% 0, 85% 20%, 100% 20%, 100% 100%, 16% 100%, 16% 80%, 0 80%);
          clip-path: polygon(0 0, 85% 0, 85% 20%, 100% 20%, 100% 100%, 16% 100%, 16% 80%, 0 80%);
  position: relative;
}

.about .parallax-img:before {
  content: "";
  position: absolute;
  width: 85%;
  height: 80%;
  top: 20%;
  left: 16%;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
}

.about .image {
  width: 100%;
  height: 100%;
  background-position: 100% 0;
  background-size: 180% 180%;
  background-repeat: no-repeat;
}

.about .content-wrapper {
  width: 41%;
  padding-right: 100px;
}

.about .text-block {
  width: 77%;
  margin-top: 30px;
}

.about .btn-link {
  margin-top: 30px;
}

@media screen and (max-width: 1680px) {
  .about .parallax-img-wrapper {
    width: 40%;
    height: 460px;
    padding-left: 100px;
  }
  .about .text-block {
    width: 100%;
  }
}

@media screen and (max-width: 1600px) {
  .about .parallax-img-wrapper {
    width: 37.5%;
    height: 460px;
    padding-left: 0;
  }
  .about .content-wrapper {
    width: 58.7%;
  }
  .about .text-block {
    width: 67%;
  }
}

@media screen and (max-width: 1440px) {
  .about .parallax-img-wrapper {
    height: 400px;
    width: 37.85%;
  }
  .about .text-block {
    width: 75%;
  }
}

@media screen and (max-width: 1366px) {
  .about .content-wrapper {
    width: 58.4%;
  }
  .about .text-block {
    width: 80%;
  }
}

@media screen and (max-width: 1280px) {
  .about .content-wrapper {
    width: 59%;
  }
  .about .text-block {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about .parallax-img-wrapper {
    height: 450px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 80px;
  }
  .about .parallax-img {
    width: 56%;
  }
  .about .image {
    background-size: cover;
  }
  .about .content-wrapper {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .about .text-block {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .about .parallax-img-wrapper {
    height: 350px;
    width: 70%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .about .parallax-img {
    width: 100%;
  }
  .about .text-block {
    width: 66%;
  }
}

@media screen and (max-width: 576px) {
  .about .parallax-img-wrapper {
    height: 350px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }
  .about .parallax-img {
    width: 100%;
  }
  .about .content-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .about .text-block {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .about .parallax-img-wrapper {
    height: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .about .parallax-img-wrapper {
    height: 220px;
    width: 100%;
  }
}
/*# sourceMappingURL=about.css.map */