*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    -webkit-font-smoothing:antialiased;
    // -moz-font-smoothing:antialiased;
    // -o-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: "Gotham Pro", sans-serif;
    background-color: white;
}


.hero-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}